@charset "UTF-8";
/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css?family=Raleway");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

img, embed, object, audio, video {
  border: 0;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

.clearfix:before, .clearfix:after {
  clear: both;
  display: block;
  content: '';
}

main {
  display: block;
}

a {
  text-decoration: none;
}

.fadein-up {
  opacity: 0;
  -webkit-animation: fadeInUp 0.5s ease 1s 1 forwards;
  animation: fadeInUp 0.5s ease 1s 1 forwards;
}

.fadein {
  opacity: 0;
  transform: translate(0, 10px);
  transition: all 600ms;
}

/* 画面内に入った状態 */
.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media only screen and (min-width: 961px) {
  .animation__img--zoom {
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    transition-property: all;
  }
  .animation__img:hover .animation__img--zoom {
    transform: scale(1.05);
  }
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.border {
  border: solid 1px #ddd;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.bold {
  font-weight: bold;
}

.mt00 {
  margin-top: 0px !important;
}

.mt05 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mr00 {
  margin-right: 0px !important;
}

.mr05 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mb00 {
  margin-bottom: 0px !important;
}

.mb05 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.ml00 {
  margin-left: 0px !important;
}

.ml05 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.ml50 {
  margin-left: 50px !important;
}

@media only screen and (min-width: 768px) {
  .mt-pc-10 {
    margin-top: 10px;
  }
  .mt-pc-15 {
    margin-top: 15px;
  }
  .mt-pc-20 {
    margin-top: 20px;
  }
  .mt-pc-25 {
    margin-top: 25px;
  }
  .mt-pc-30 {
    margin-top: 30px;
  }
  .mt-pc-35 {
    margin-top: 35px;
  }
  .mt-pc-40 {
    margin-top: 40px;
  }
  .mt-pc-45 {
    margin-top: 45px;
  }
  .mt-pc-50 {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .mt-sp-10 {
    margin-top: 10px;
  }
  .mt-sp-15 {
    margin-top: 15px;
  }
  .mt-sp-20 {
    margin-top: 20px;
  }
  .mt-sp-25 {
    margin-top: 25px;
  }
  .mt-sp-30 {
    margin-top: 30px;
  }
  .mt-sp-35 {
    margin-top: 35px;
  }
  .mt-sp-40 {
    margin-top: 40px;
  }
  .mt-sp-45 {
    margin-top: 45px;
  }
  .mt-sp-50 {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .mr-pc-10 {
    margin-right: 10px;
  }
  .mr-pc-15 {
    margin-right: 15px;
  }
  .mr-pc-20 {
    margin-right: 20px;
  }
  .mr-pc-25 {
    margin-right: 25px;
  }
  .mr-pc-30 {
    margin-right: 30px;
  }
  .mr-pc-35 {
    margin-right: 35px;
  }
  .mr-pc-40 {
    margin-right: 40px;
  }
  .mr-pc-45 {
    margin-right: 45px;
  }
  .mr-pc-50 {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .mr-sp-10 {
    margin-right: 10px;
  }
  .mr-sp-15 {
    margin-right: 15px;
  }
  .mr-sp-20 {
    margin-right: 20px;
  }
  .mr-sp-25 {
    margin-right: 25px;
  }
  .mr-sp-30 {
    margin-right: 30px;
  }
  .mr-sp-35 {
    margin-right: 35px;
  }
  .mr-sp-40 {
    margin-right: 40px;
  }
  .mr-sp-45 {
    margin-right: 45px;
  }
  .mr-sp-50 {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .mb-pc-10 {
    margin-bottom: 10px;
  }
  .mb-pc-15 {
    margin-bottom: 15px;
  }
  .mb-pc-20 {
    margin-bottom: 20px;
  }
  .mb-pc-25 {
    margin-bottom: 25px;
  }
  .mb-pc-30 {
    margin-bottom: 30px;
  }
  .mb-pc-35 {
    margin-bottom: 35px;
  }
  .mb-pc-40 {
    margin-bottom: 40px;
  }
  .mb-pc-45 {
    margin-bottom: 45px;
  }
  .mb-pc-50 {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .mb-sp-10 {
    margin-bottom: 10px;
  }
  .mb-sp-15 {
    margin-bottom: 15px;
  }
  .mb-sp-20 {
    margin-bottom: 20px;
  }
  .mb-sp-25 {
    margin-bottom: 25px;
  }
  .mb-sp-30 {
    margin-bottom: 30px;
  }
  .mb-sp-35 {
    margin-bottom: 35px;
  }
  .mb-sp-40 {
    margin-bottom: 40px;
  }
  .mb-sp-45 {
    margin-bottom: 45px;
  }
  .mb-sp-50 {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .ml-pc-10 {
    margin-left: 10px;
  }
  .ml-pc-15 {
    margin-left: 15px;
  }
  .ml-pc-20 {
    margin-left: 20px;
  }
  .ml-pc-25 {
    margin-left: 25px;
  }
  .ml-pc-30 {
    margin-left: 30px;
  }
  .ml-pc-35 {
    margin-left: 35px;
  }
  .ml-pc-40 {
    margin-left: 40px;
  }
  .ml-pc-45 {
    margin-left: 45px;
  }
  .ml-pc-50 {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .ml-sp-10 {
    margin-left: 10px;
  }
  .ml-sp-15 {
    margin-left: 15px;
  }
  .ml-sp-20 {
    margin-left: 20px;
  }
  .ml-sp-25 {
    margin-left: 25px;
  }
  .ml-sp-30 {
    margin-left: 30px;
  }
  .ml-sp-35 {
    margin-left: 35px;
  }
  .ml-sp-40 {
    margin-left: 40px;
  }
  .ml-sp-45 {
    margin-left: 45px;
  }
  .ml-sp-50 {
    margin-left: 50px;
  }
}

/* ----------------------------------------------------
padding
---------------------------------------------------- */
.pt00 {
  padding-top: 0px !important;
}

.pt05 {
  padding-top: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pr00 {
  padding-right: 0px !important;
}

.pr05 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pb00 {
  padding-bottom: 0px !important;
}

.pb05 {
  padding-bottom: 5px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pl00 {
  padding-left: 0px !important;
}

.pl05 {
  padding-left: 5px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.pl45 {
  padding-left: 45px !important;
}

.pl50 {
  padding-left: 50px !important;
}

@media only screen and (min-width: 768px) {
  .pt-pc-10 {
    padding-top: 10px;
  }
  .pt-pc-15 {
    padding-top: 15px;
  }
  .pt-pc-20 {
    padding-top: 20px;
  }
  .pt-pc-25 {
    padding-top: 25px;
  }
  .pt-pc-30 {
    padding-top: 30px;
  }
  .pt-pc-35 {
    padding-top: 35px;
  }
  .pt-pc-40 {
    padding-top: 40px;
  }
  .pt-pc-45 {
    padding-top: 45px;
  }
  .pt-pc-50 {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .pt-sp-10 {
    padding-top: 10px;
  }
  .pt-sp-15 {
    padding-top: 15px;
  }
  .pt-sp-20 {
    padding-top: 20px;
  }
  .pt-sp-25 {
    padding-top: 25px;
  }
  .pt-sp-30 {
    padding-top: 30px;
  }
  .pt-sp-35 {
    padding-top: 35px;
  }
  .pt-sp-40 {
    padding-top: 40px;
  }
  .pt-sp-45 {
    padding-top: 45px;
  }
  .pt-sp-50 {
    padding-top: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .pr-pc-10 {
    padding-right: 10px;
  }
  .pr-pc-15 {
    padding-right: 15px;
  }
  .pr-pc-20 {
    padding-right: 20px;
  }
  .pr-pc-25 {
    padding-right: 25px;
  }
  .pr-pc-30 {
    padding-right: 30px;
  }
  .pr-pc-35 {
    padding-right: 35px;
  }
  .pr-pc-40 {
    padding-right: 40px;
  }
  .pr-pc-45 {
    padding-right: 45px;
  }
  .pr-pc-50 {
    padding-right: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .pr-sp-10 {
    padding-right: 10px;
  }
  .pr-sp-15 {
    padding-right: 15px;
  }
  .pr-sp-20 {
    padding-right: 20px;
  }
  .pr-sp-25 {
    padding-right: 25px;
  }
  .pr-sp-30 {
    padding-right: 30px;
  }
  .pr-sp-35 {
    padding-right: 35px;
  }
  .pr-sp-40 {
    padding-right: 40px;
  }
  .pr-sp-45 {
    padding-right: 45px;
  }
  .pr-sp-50 {
    padding-right: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .pb-pc-10 {
    padding-bottom: 10px;
  }
  .pb-pc-15 {
    padding-bottom: 15px;
  }
  .pb-pc-20 {
    padding-bottom: 20px;
  }
  .pb-pc-25 {
    padding-bottom: 25px;
  }
  .pb-pc-30 {
    padding-bottom: 30px;
  }
  .pb-pc-35 {
    padding-bottom: 35px;
  }
  .pb-pc-40 {
    padding-bottom: 40px;
  }
  .pb-pc-45 {
    padding-bottom: 45px;
  }
  .pb-pc-50 {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .pb-sp-10 {
    padding-bottom: 10px;
  }
  .pb-sp-15 {
    padding-bottom: 15px;
  }
  .pb-sp-20 {
    padding-bottom: 20px;
  }
  .pb-sp-25 {
    padding-bottom: 25px;
  }
  .pb-sp-30 {
    padding-bottom: 30px;
  }
  .pb-sp-35 {
    padding-bottom: 35px;
  }
  .pb-sp-40 {
    padding-bottom: 40px;
  }
  .pb-sp-45 {
    padding-bottom: 45px;
  }
  .pb-sp-50 {
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .pl-pc-10 {
    padding-left: 10px;
  }
  .pl-pc-15 {
    padding-left: 15px;
  }
  .pl-pc-20 {
    padding-left: 20px;
  }
  .pl-pc-25 {
    padding-left: 25px;
  }
  .pl-pc-30 {
    padding-left: 30px;
  }
  .pl-pc-35 {
    padding-left: 35px;
  }
  .pl-pc-40 {
    padding-left: 40px;
  }
  .pl-pc-45 {
    padding-left: 45px;
  }
  .pl-pc-50 {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .pl-sp-10 {
    padding-left: 10px;
  }
  .pl-sp-15 {
    padding-left: 15px;
  }
  .pl-sp-20 {
    padding-left: 20px;
  }
  .pl-sp-25 {
    padding-left: 25px;
  }
  .pl-sp-30 {
    padding-left: 30px;
  }
  .pl-sp-35 {
    padding-left: 35px;
  }
  .pl-sp-40 {
    padding-left: 40px;
  }
  .pl-sp-45 {
    padding-left: 45px;
  }
  .pl-sp-50 {
    padding-left: 50px;
  }
}

.bg-gray {
  background: #f9f9f9;
}

@media only screen and (max-width: 960px) {
  .bg-gray--gradetion {
    background: white;
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(204, 204, 204, 0.3) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(204, 204, 204, 0.3) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(204, 204, 204, 0.3) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}

.ttl-primary {
  padding: 2% 0;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: -webkit-gradient(radial, 49% 50%, 0, 49% 50%, 122, color-stop(0.88, #2c2c51), color-stop(0, #213271));
  background: -webkit-radial-gradient(49% 50%, circle, #213271 0%, #2c2c51 88%);
  background: -moz-radial-gradient(49% 50%, circle, #213271 0%, #2c2c51 88%);
  background: -o-radial-gradient(49% 50%, circle, #213271 0%, #2c2c51 88%);
  background: -ms-radial-gradient(49% 50%, circle, #213271 0%, #2c2c51 88%);
  background: radial-gradient(49% 50%, circle, #213271 0%, #2c2c51 88%);
  font-family: "M+ C Type-1 (basic latin) black", "M+ Type-1 (general-j) black";
  font-style: italic;
  /* IE11 */
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ttl-primary {
    font-family: "Hiragino Kaku Gothic ProN",Meiryo !important;
    font-weight: bold;
  }
}

@media all and (-ms-high-contrast: none) {
  .ttl-primary *::-ms-backdrop {
    font-family: "Hiragino Kaku Gothic ProN",Meiryo !important;
    font-weight: bold;
  }
}

@media only screen and (max-width: 960px) {
  .ttl-primary {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  .ttl-primary {
    font-size: 1.5rem;
  }
}

.ttl-primary--sm {
  padding: 1.3% 0;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: -webkit-gradient(radial, 49% 50%, 0, 49% 50%, 122, color-stop(0.88, #2c2c51), color-stop(0, #213271));
  background: -webkit-radial-gradient(49% 50%, circle, #213271 0%, #2c2c51 88%);
  background: -moz-radial-gradient(49% 50%, circle, #213271 0%, #2c2c51 88%);
  background: -o-radial-gradient(49% 50%, circle, #213271 0%, #2c2c51 88%);
  background: -ms-radial-gradient(49% 50%, circle, #213271 0%, #2c2c51 88%);
  background: radial-gradient(49% 50%, circle, #213271 0%, #2c2c51 88%);
  font-family: "M+ C Type-1 (basic latin) black", "M+ Type-1 (general-j) black";
  font-style: italic;
  /* IE11 */
  font-family: "M+ C Type-1 (basic latin) Heavy", "M+ Type-1 (general-j) Heavy";
  font-style: italic;
  font-weight: bold;
  /* IE11 */
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ttl-primary--sm {
    font-family: "Hiragino Kaku Gothic ProN",Meiryo !important;
    font-weight: bold;
  }
}

@media all and (-ms-high-contrast: none) {
  .ttl-primary--sm *::-ms-backdrop {
    font-family: "Hiragino Kaku Gothic ProN",Meiryo !important;
    font-weight: bold;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ttl-primary--sm {
    font-family: "Hiragino Kaku Gothic ProN",Meiryo !important;
  }
}

@media all and (-ms-high-contrast: none) {
  .ttl-primary--sm *::-ms-backdrop {
    font-family: "Hiragino Kaku Gothic ProN",Meiryo !important;
  }
}

@media only screen and (max-width: 768px) {
  .ttl-primary--sm {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  .ttl-primary--sm {
    padding: 4% 0 3%;
    font-size: 1.5rem;
  }
}

.btn-detail, .btn-detail--big, .btn-detail--mid, .btn-detail--mid--02, .btn-detail--sm, .btn-detail--topbien01 {
  position: relative;
  display: block;
  padding: 3.3% 0;
  text-align: center;
  -webkit-transform: skewX(-16deg);
  transform: skewX(-16deg);
  font-weight: bold;
  color: #fff;
  font-family: "Hiragino Kaku Gothic ProN", "Meiryo";
  font-style: normal;
  background: #2c2c51;
}

.btn-detail__txt {
  display: block;
  -webkit-transform: skewX(16deg);
  transform: skewX(16deg);
  background: url(/common/img/ico_btn_arrow_o1.gif) no-repeat right 10.6% center/13px auto;
  transition: .5s;
  transition-property: all;
}

@media only screen and (max-width: 960px) {
  .btn-detail__txt {
    background-size: 7px auto;
  }
}

@media only screen and (max-width: 960px) {
  .btn-detail, .btn-detail--big, .btn-detail--mid, .btn-detail--mid--02, .btn-detail--sm, .btn-detail--topbien01 {
    float: left;
  }
}

.btn-detail--big {
  float: none;
  max-width: 560px;
  margin: 50px auto 0;
  padding: 29px 0 28px;
  font-size: 2.4rem;
}

@media only screen and (max-width: 960px) {
  .btn-detail--big {
    max-width: 82%;
    margin-top: 30px;
    padding: 20px 0 18px;
    font-size: 2.0rem;
  }
}

.btn-detail--mid, .btn-detail--mid--02 {
  font-size: 2rem;
}

@media only screen and (min-width: 961px) {
  .btn-detail--mid, .btn-detail--mid--02 {
    max-width: 375px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .btn-detail--mid .btn-detail__txt, .btn-detail--mid--02 .btn-detail__txt {
    background-size: 4px auto;
  }
}

@media only screen and (max-width: 960px) {
  .btn-detail--mid, .btn-detail--mid--02 {
    margin-top: 7.5%;
    width: 50.8%;
    font-size: 1.5rem;
    padding: 3.3% 0;
  }
}

.btn-detail--mid--02 {
  font-size: 2.4rem;
}

@media only screen and (min-width: 961px) {
  .btn-detail--mid--02 {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 480px) {
  .btn-detail--mid--02 {
    font-size: 1.4rem;
  }
}

.btn-detail--sm {
  max-width: 215px;
  font-size: 1.4rem;
}

.btn-detail--sm .btn-detail__txt {
  background: url(/common/img/ico_btn_arrow_o1.gif) no-repeat right 10.6% center/5px auto;
}

@media only screen and (max-width: 960px) {
  .btn-detail--sm {
    float: none;
  }
}

.btn-detail--topbien01 {
  font-size: 2.4rem;
}

@media only screen and (min-width: 961px) {
  .btn-detail--topbien01 {
    margin-top: 12.5%;
    width: 50.8%;
    padding: 29px 0 28px;
  }
}

@media only screen and (max-width: 960px) {
  .btn-detail--topbien01 {
    margin-top: 7.5%;
    width: 50.8%;
    font-size: 1.5rem;
    padding: 3.3% 0;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .btn-detail--topbien01 .btn-detail__txt {
    background-size: 4px auto;
  }
}

@media only screen and (max-width: 480px) {
  .btn-detail--topbien01 {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 961px) {
  .animation__arrow:hover .animation__arrow--move {
    background: url(/common/img/ico_btn_arrow_o1.gif) no-repeat right 7.6% center/13px auto;
  }
}

@media only screen and (min-width: 961px) {
  .animation__arrow:hover .btn-detail--sm .animation__arrow--move {
    background: url(/common/img/ico_btn_arrow_o1.gif) no-repeat right 7.6% center/5px auto;
  }
}

@media only screen and (min-width: 961px) {
  .top .sekitan .btn-detail, .top .sekitan .btn-detail--big, .top .sekitan .btn-detail--mid, .top .sekitan .btn-detail--mid--02, .top .sekitan .btn-detail--sm, .top .sekitan .btn-detail--topbien01 {
    width: 58.75%;
  }
}

@media only screen and (max-width: 768px) {
  .top .sekitan .btn-detail, .top .sekitan .btn-detail--big, .top .sekitan .btn-detail--mid, .top .sekitan .btn-detail--mid--02, .top .sekitan .btn-detail--sm, .top .sekitan .btn-detail--topbien01 {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 480px) {
  .top .sekitan .btn-detail, .top .sekitan .btn-detail--big, .top .sekitan .btn-detail--mid, .top .sekitan .btn-detail--mid--02, .top .sekitan .btn-detail--sm, .top .sekitan .btn-detail--topbien01 {
    font-size: 1.4rem;
  }
}

.block-sub-navigation {
  padding: 0.67% 0;
  background: #2c2c51;
}

@media only screen and (max-width: 960px) {
  .block-sub-navigation {
    padding: 1.3% 0;
  }
}

.intro-cmn, .intro-cmn-02 {
  padding: 5.2% 0;
  font-size: 2.4rem;
  text-align: center;
  line-height: 1.5;
  color: #2c2c51;
}

@media only screen and (max-width: 768px) {
  .intro-cmn, .intro-cmn-02 {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 480px) {
  .intro-cmn, .intro-cmn-02 {
    padding: 10.4% 0 9.16%;
  }
}

.intro-cmn-02 {
  padding: 5.2% 0 3.1%;
}

@media only screen and (max-width: 480px) {
  .intro-cmn-02 {
    padding: 10.4% 0 9.16%;
  }
}

@media only screen and (min-width: 961px) {
  .top .intro-cmn, .top .intro-cmn-02 {
    padding: 5% 0;
  }
}

@media only screen and (max-width: 960px) {
  .top .intro-cmn, .top .intro-cmn-02 {
    width: 86.9%;
    margin: 0 auto;
    padding: 7.2% 0;
  }
}

@media only screen and (max-width: 480px) {
  .top .intro-cmn, .top .intro-cmn-02 {
    padding: 10.4% 0 9.16%;
  }
}

.section-cmn {
  padding: 40px 0 60px;
}

@media only screen and (max-width: 960px) {
  .section-cmn {
    padding: 7.8% 0 7.8%;
  }
}

.fadein-up {
  opacity: 0;
  -webkit-animation: fadeInUp 0.5s ease 1s 1 forwards;
  animation: fadeInUp 0.5s ease 1s 1 forwards;
}

.fadein {
  opacity: 0;
  transform: translate(0, 10px);
  transition: all 600ms;
}

/* 画面内に入った状態 */
.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media only screen and (min-width: 961px) {
  .animation__img--zoom {
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    transition-property: all;
  }
  .animation__img:hover .animation__img--zoom {
    transform: scale(1.05);
  }
}

html {
  font-size: 62.5%;
  background: #FFF;
}

body {
  font-size: 1.4rem;
  font-family: "Hiragino Kaku Gothic ProN", "Meiryo";
  color: #333;
  line-height: 1;
}

img,
svg {
  max-width: 100%;
  vertical-align: bottom;
  backface-visibility: hidden;
}

.pc {
  display: block;
}

@media only screen and (max-width: 960px) {
  .pc {
    display: none !important;
  }
}

.sp {
  display: none !important;
}

@media only screen and (max-width: 960px) {
  .sp {
    display: block !important;
  }
}

.only-sp {
  display: none;
}

@media only screen and (max-width: 480px) {
  .only-sp {
    display: block;
  }
}

.only-tb {
  display: none;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .only-tb {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .min-tb {
    display: none !important;
  }
}

@media only screen and (max-width: 374px) {
  .min-sp {
    display: none !important;
  }
}

.only-sp-02 {
  display: none;
}

@media only screen and (max-width: 767px) {
  .only-sp-02 {
    display: block;
  }
}

.sp-tb {
  display: none;
}

@media only screen and (max-width: 768px) {
  .sp-tb {
    display: block;
  }
}

.inner {
  max-width: 1060px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media only screen and (max-width: 960px) {
  .inner {
    width: 89.58%;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }
}

.container__inner {
  margin: 5.2% auto;
}

@media only screen and (max-width: 960px) {
  .sitemap .container__inner {
    margin: 0 auto;
  }
}

.wrapper {
  position: relative;
}

.alpha-item {
  transition: .3s;
}

.alpha-item:hover {
  opacity: .75;
}

.link-border-item:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 961px) {
  .l-header {
    max-width: 1020px;
    margin: 0 auto;
  }
}

.header {
  border-bottom: 1px #2c2c51 solid;
  position: relative;
  font-family: "M+ C Type-1 (basic latin) Heavy", "M+ Type-1 (general-j) Heavy";
  font-style: italic;
  font-weight: bold;
  /* IE11 */
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header {
    font-family: "Hiragino Kaku Gothic ProN",Meiryo !important;
  }
}

@media all and (-ms-high-contrast: none) {
  .header *::-ms-backdrop {
    font-family: "Hiragino Kaku Gothic ProN",Meiryo !important;
  }
}

.header a {
  text-decoration: none;
}

@media only screen and (min-width: 961px) {
  .l-header {
    -webkit-display: flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    -moz-display: flex;
    -moz-justify-content: space-between;
    -moz-align-items: center;
    -ms-display: flex;
    -ms-justify-content: space-between;
    -ms-align-items: center;
    -o-display: flex;
    -o-justify-content: space-between;
    -o-align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .l-header .header__inner {
    margin: 0 0 0 1.9%;
    width: 15.5%;
  }
  .h__nav {
    width: calc(100% - 17.3%);
  }
  .h__nav-list {
    -webkit-display: flex;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
    -moz-display: flex;
    -moz-justify-content: flex-end;
    -moz-align-items: center;
    -ms-display: flex;
    -ms-justify-content: flex-end;
    -ms-align-items: center;
    -o-display: flex;
    -o-justify-content: flex-end;
    -o-align-items: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .h__nav-list .nav-list__item {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .h__nav-list .nav-list__item .nav-main__ttl {
    color: #2c2c51;
    display: block;
    padding: 30px 25px;
  }
}

@media only screen and (max-width: 960px) {
  .l-header .header__inner {
    position: relative;
    z-index: 200;
    padding: 5.2% 4.16%;
    -webkit-display: flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    -moz-display: flex;
    -moz-justify-content: space-between;
    -moz-align-items: center;
    -ms-display: flex;
    -ms-justify-content: space-between;
    -ms-align-items: center;
    -o-display: flex;
    -o-justify-content: space-between;
    -o-align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .l-header .h__logo {
    width: 44.7%;
  }
  .l-header .h__nav-btn {
    width: 10%;
  }
  .l-header .nav-list__item:last-child a {
    border-bottom: 1px #2c2c51 solid;
  }
}

@media only screen and (min-width: 961px) {
  .nav-list__item.current .nav-main__ttl, .nav-list__item:hover .nav-main__ttl {
    position: relative;
  }
  .nav-list__item.current .nav-main__ttl:after, .nav-list__item:hover .nav-main__ttl:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 15px 17px 15px;
    border-color: transparent transparent #2c2c51 transparent;
    bottom: 0;
    left: 50%;
    display: block;
    transform: translateX(-50%);
  }
  .nav-list__item:hover .mega-menu {
    display: block;
  }
}

@media only screen and (min-width: 961px) {
  .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    padding: 1.56% 0;
    background: #2c2c51;
    width: 100%;
    z-index: 100;
    display: none;
  }
  .mega-menu__inner {
    max-width: 1020px;
    margin: 0 auto;
    -webkit-display: flex;
    -webkit-justify-content: space-between;
    -moz-display: flex;
    -moz-justify-content: space-between;
    -ms-display: flex;
    -ms-justify-content: space-between;
    -o-display: flex;
    -o-justify-content: space-between;
    display: flex;
    justify-content: space-between;
  }
  .mega-menu__inner .mega-menu__items {
    background: #fff;
    width: 31.4%;
    padding-bottom: 35px;
    -webkit-display: flex;
    -webkit-flex-wrap: wrap;
    -moz-display: flex;
    -moz-flex-wrap: wrap;
    -ms-display: flex;
    -ms-flex-wrap: wrap;
    -o-display: flex;
    -o-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
  }
  .mega-menu__inner .mega-menu__items .mega-menu__head .list01__thum {
    display: block;
  }
  .mega-menu__inner .mega-menu__items .mega-menu__head .ttl__mega {
    text-align: center;
    font-size: 2rem;
    color: #2c2c51;
  }
  .mega-menu__inner .mega-menu__items .mega-menu-list {
    padding: 6.25% 0 0 9.37%;
    font-size: 1.4rem;
    display: block;
    width: 100%;
    font-family: "Hiragino Kaku Gothic ProN", "Meiryo";
    font-style: normal;
  }
  .mega-menu__inner .mega-menu__items .mega-menu-list li + li {
    margin-top: 10px;
  }
  .mega-menu__inner .mega-menu__items .mega-menu-list li a:hover {
    text-decoration: underline;
  }
  .mega-menu__inner .mega-menu__items .mega-menu-list-item a {
    color: #2c2c51;
  }
}

@media only screen and (min-width: 961px) {
  .header .nav-arrow {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
  }
  .header .nav-arrow img {
    vertical-align: top;
  }
}

.sitemap .nav-arrow {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
}

.sitemap .nav-arrow img {
  vertical-align: top;
}

@media only screen and (max-width: 960px) {
  .header {
    position: relative;
  }
  .h__nav {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 100;
    background: #fff;
    width: 100%;
  }
  .h__nav .nav-list__item a {
    position: relative;
    display: block;
    border-top: 1px #2c2c51 solid;
    color: #004098;
    font-size: 1.7rem;
  }
  .h__nav .nav-list__item a:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 7.5px 0 7.5px 12px;
    border-color: transparent transparent transparent #004098;
    right: 5.2%;
    top: 39%;
  }
  .h__nav .nav-list__item .sp__nav--type01 {
    padding: 3.7% 5.2% 3.7% 5.2%;
  }
  .h__nav .nav-list__item .sp__nav--type02 {
    padding: 6.4% 5.2% 6.4% 5.2%;
  }
  .h__nav:after {
    content: "";
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    z-index: 99;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
  }
  .h__nav-list {
    position: relative;
    z-index: 100;
  }
  .mega-menu__inner .mega-menu__items .mega-menu__head {
    position: relative;
  }
  .mega-menu__inner .mega-menu__items .mega-menu__head .list01__thum,
  .mega-menu__inner .mega-menu__items .mega-menu__head .ttl__mega {
    display: inline-block;
    vertical-align: middle;
  }
  .mega-menu__inner .mega-menu__items .mega-menu__head .list01__thum {
    width: 15.3%;
    margin-right: 2%;
  }
}

footer {
  padding-bottom: 2%;
}

.f-bnr {
  padding: 3.125% 0;
  background: url(/common/img/bg_footer_border_01.gif) repeat 0 0;
}

.f-bnr li:nth-child(n+2) {
  margin-top: 20px;
}

@media only screen and (min-width: 961px) {
  .f-bnr ul {
    max-width: 660px;
    margin: 0 auto;
    -webkit-display: flex;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-display: flex;
    -moz-justify-content: space-between;
    -moz-flex-wrap: wrap;
    -ms-display: flex;
    -ms-justify-content: space-between;
    -ms-flex-wrap: wrap;
    -o-display: flex;
    -o-justify-content: space-between;
    -o-flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 960px) {
  .f-bnr {
    padding: 6.9% 0;
  }
  .f-bnr ul {
    font-size: 0;
  }
  .f-bnr ul li:nth-child(n+3) {
    width: 48.3%;
    display: inline-block;
  }
  .f-bnr ul li:nth-child(4) {
    margin-left: 2.9%;
  }
}

.f__nav {
  padding: 0.7% 0;
  background: url(/common/img/bg_footer_border_02.gif) repeat 0 0;
}

.f__nav ul {
  -webkit-display: flex;
  -webkit-justify-content: center;
  -moz-display: flex;
  -moz-justify-content: center;
  -ms-display: flex;
  -ms-justify-content: center;
  -o-display: flex;
  -o-justify-content: center;
  display: flex;
  justify-content: center;
}

.f__nav ul li {
  font-size: 1.2rem;
}

.f__nav ul li a {
  display: block;
  padding: 0 20px;
  color: #fff;
  text-align: center;
}

.f__nav ul li a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 480px) {
  .f__nav ul li:not(:last-child) a {
    border-right: 1px #fff solid;
  }
}

@media only screen and (max-width: 960px) {
  .f__nav {
    padding: 1.87% 0;
  }
  .f__nav ul {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .f__nav ul li {
    font-size: 1.0rem;
  }
  .f__nav ul li a {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 480px) {
  .f__nav {
    padding: 3% 0;
  }
  .f__nav .inner {
    width: 100%;
  }
  .f__nav .inner li {
    line-height: 1.2;
    -webkit-display: flex;
    -webkit-align-items: center;
    -moz-display: flex;
    -moz-align-items: center;
    -ms-display: flex;
    -ms-align-items: center;
    -o-display: flex;
    -o-align-items: center;
    display: flex;
    align-items: center;
  }
  .f__nav .inner li:not(:last-child) {
    border-right: 1px #fff solid;
  }
}

.f-info {
  color: #2c2c51;
  padding: 1.4% 0 1.6%;
}

.f-info__logo {
  width: 17.6%;
  margin-right: 1.7%;
}

.f-info .inner .info-txt-line02 .info-tel a {
  color: #2c2c51;
}

.f-info .inner .info-txt-line03 {
  color: #444;
}

@media only screen and (min-width: 961px) {
  .f-info .inner {
    -webkit-display: flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -moz-display: flex;
    -moz-justify-content: center;
    -moz-align-items: center;
    -ms-display: flex;
    -ms-justify-content: center;
    -ms-align-items: center;
    -o-display: flex;
    -o-justify-content: center;
    -o-align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .f-info .inner .f-info-txt {
    line-height: 1.3;
  }
  .f-info .inner .info-txt-line01 {
    font-size: 1.6rem;
  }
  .f-info .inner .info-txt-line02 .info-tel {
    font-size: 2rem;
  }
  .f-info .inner .info-txt-line02 .info-tel a:hover {
    cursor: default;
  }
  .f-info .inner .info-txt-line02 .info-tel strong {
    font-size: 3.6rem;
  }
  .f-info .inner .info-txt-line02 .info-tel .info-time {
    font-size: 1.2rem;
  }
  .f-info .inner .info-txt-line03 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .f-info .inner .info-txt-line01 {
    font-size: 1.4rem;
  }
}

.f-copy {
  font-size: 1.2rem;
}

@media only screen and (max-width: 960px) {
  .f-info {
    padding: 5.2% 0 3.125%;
    line-height: 1.4;
  }
  .f-info__logo {
    width: 20.9%;
    margin-right: 3%;
  }
  .f-info .inner .f-info-txt .f-info-sp01 {
    -webkit-display: flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -moz-display: flex;
    -moz-justify-content: center;
    -moz-align-items: center;
    -ms-display: flex;
    -ms-justify-content: center;
    -ms-align-items: center;
    -o-display: flex;
    -o-justify-content: center;
    -o-align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .f-info .inner .f-info-txt .f-info-sp01 .info-txt-line01 {
    width: calc(100% - 23.9%);
    font-size: 1.2rem;
  }
  .f-info .inner .f-info-txt .f-info-sp02 {
    padding: 3%;
    margin-top: 4.65%;
    border: 5px #2c2c51 solid;
  }
  .f-info .inner .f-info-txt .f-info-sp02 .info-txt-line02 .txt-tel {
    padding-left: 3%;
  }
  .f-info .inner .f-info-txt .f-info-sp02 .info-txt-line02 .txt-tel,
  .f-info .inner .f-info-txt .f-info-sp02 .info-txt-line02 .ico-tel {
    display: table-cell !important;
    vertical-align: middle;
  }
  .f-info .inner .f-info-txt .f-info-sp02 .ico-tel {
    width: 28%;
  }
  .f-info .inner .info-txt-line02 {
    display: table;
    width: 100%;
  }
  .f-info .inner .info-txt-line02 .info-tel {
    font-size: 1.5rem;
  }
  .f-info .inner .info-txt-line02 .info-tel strong {
    font-size: 2rem;
  }
  .f-info .inner .info-txt-line02 .info-time {
    font-size: 1rem;
  }
  .f-info .inner .info-txt-line03 {
    margin-top: 3%;
    font-size: 1.2rem;
  }
}

.btn-top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  width: 80px;
  opacity: 0.8;
}

.btn-top:hover {
  opacity: 1;
}

@media only screen and (max-width: 480px) {
  .btn-top {
    width: 50px;
  }
}

/* Z-INDEX */
.formError {
  z-index: 20;
}

.formError .formErrorContent {
  z-index: 991;
}

.formError .formErrorArrow {
  z-index: 996;
}

.ui-dialog .formError {
  z-index: 5000;
}

.ui-dialog .formError .formErrorContent {
  z-index: 5001;
}

.ui-dialog .formError .formErrorArrow {
  z-index: 5006;
}

.inputContainer {
  position: relative;
  float: left;
}

.formError {
  position: absolute;
  top: 300px;
  left: 300px;
  display: block;
  cursor: pointer;
  text-align: left;
}

.formError.inline {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
}

.ajaxSubmit {
  padding: 20px;
  background: #55ea55;
  border: 1px solid #999;
  display: none;
}

.formError .formErrorContent {
  width: 100%;
  background: #dd0000;
  position: relative;
  color: #fff;
  font-size: 1.2rem;
  padding: 4px 6px 4px 6px;
}

.formError.inline .formErrorContent {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}

.greenPopup .formErrorContent {
  background: #33be40;
}

.blackPopup .formErrorContent {
  background: #393939;
  color: #FFF;
}

.formError .formErrorArrow {
  width: 15px;
  margin: -2px 0 0 13px;
  position: relative;
}

body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
  margin: -2px 13px 0 0;
}

.formError .formErrorArrowBottom {
  margin: 0px 0 0 12px;
  top: 2px;
}

.formError .formErrorArrow div {
  font-size: 0px;
  height: 1px;
  background: #ee0101;
  margin: 0 auto;
  line-height: 0;
  font-size: 0;
  display: block;
}

.formError .formErrorArrowBottom div {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

.greenPopup .formErrorArrow div {
  background: #33be40;
}

.blackPopup .formErrorArrow div {
  background: #393939;
  color: #FFF;
}

.formError .formErrorArrow .line10 {
  width: 13px;
  border: none;
}

.formError .formErrorArrow .line9 {
  width: 11px;
  border: none;
}

.formError .formErrorArrow .line8 {
  width: 11px;
}

.formError .formErrorArrow .line7 {
  width: 9px;
}

.formError .formErrorArrow .line6 {
  width: 7px;
}

.formError .formErrorArrow .line5 {
  width: 5px;
}

.formError .formErrorArrow .line4 {
  width: 3px;
}

.formError .formErrorArrow .line3 {
  width: 1px;
}

.formError .formErrorArrow .line2 {
  width: 3px;
  border: none;
  display: none;
}

.formError .formErrorArrow .line1 {
  width: 1px;
  border: none;
  display: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  width: 100%;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev {
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
  font-size: 0;
  padding: 0;
  background: url(/img/btn_slide_pre.png) no-repeat center center;
  width: 30px;
  height: 248px;
  z-index: 2;
  transform: translateY(-50%);
}

.slick-prev:before {
  position: absolute;
  content: "";
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .slick-prev {
    background-size: cover;
    width: 24px;
    height: 130px;
  }
}

@media only screen and (max-width: 480px) {
  .slick-prev {
    background-size: cover;
    width: 20px;
    height: 78px;
  }
}

.slick-next {
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
  font-size: 0;
  padding: 0;
  background: url(/img/btn_slide_next.png) no-repeat center center;
  width: 30px;
  height: 248px;
  z-index: 2;
  transform: translateY(-50%);
}

.slick-next:before {
  position: absolute;
  content: "";
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .slick-next {
    background-size: cover;
    width: 24px;
    height: 130px;
  }
}

@media only screen and (max-width: 480px) {
  .slick-next {
    background-size: cover;
    width: 20px;
    height: 78px;
  }
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -40px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #cccccc;
  text-align: center;
  opacity: 0.8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 480px) {
  .slick-dots li button:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}

.slick-dots li.slick-active button:before {
  background: #004098;
  opacity: 0.75;
}

@media only screen and (max-width: 960px) {
  .slick-dots li button:before {
    font-size: 35px;
  }
}

@media only screen and (max-width: 480px) {
  .slick-dots li {
    margin: 0;
  }
  .slick-dots li button:before {
    font-size: 25px;
  }
}

.gx {
  background: url(/campaign/2018/img/bg_main.jpg) center center/cover no-repeat;
}

.gx__inner {
  width: 95%;
  max-width: 645px;
  margin: 0 auto;
}

.gx__ttl {
  padding: 77px 0 43px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .gx__ttl {
    padding: 40px 0 30px;
  }
  .gx__ttl img {
    width: 70%;
  }
}

.gx-main {
  background: #004098;
}

.gx-main__inner {
  position: relative;
  max-width: 721px;
  margin: 0 auto;
}

.gx-main__inner .slick-arrow {
  display: none !important;
}

.gx-main__arrow {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  width: 32px;
  height: 34px;
  background-size: cover;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .gx-main__arrow {
    top: auto;
    bottom: 10px;
    width: 20px;
    height: 30px;
    margin-top: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.gx-main__arrow--left {
  left: -52px;
  background-image: url(/campaign/2018/img/ico_arrow_left.png);
}

@media only screen and (max-width: 800px) {
  .gx-main__arrow--left {
    left: 10px;
  }
}

.gx-main__arrow--right {
  right: -52px;
  background-image: url(/campaign/2018/img/ico_arrow_right.png);
}

@media only screen and (max-width: 800px) {
  .gx-main__arrow--right {
    right: 10px;
  }
}

.gx-main__arrow:focus {
  outline: 0;
}

.gx-product {
  padding: 72px 0 75px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .gx-product {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 767px) {
  .gx-product__ttl {
    width: 75%;
    margin: 0 auto;
  }
}

.gx-product__detail {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 65px;
}

@media only screen and (max-width: 767px) {
  .gx-product__detail {
    display: block;
    width: 75%;
    margin: 45px auto 0;
  }
}

.gx-product__detail img {
  transition: .3s;
}

.gx-product__detail:hover img {
  opacity: .7;
}

.gx-product__img {
  flex-basis: 46.66%;
  max-width: 46.66%;
  order: 1;
}

@media only screen and (max-width: 767px) {
  .gx-product__img {
    max-width: 65%;
    margin: 0 auto;
  }
}

.gx-product__txt {
  flex-basis: 43.56%;
  max-width: 43.56%;
  order: 0;
}

@media only screen and (max-width: 767px) {
  .gx-product__txt {
    margin-top: 30px;
    max-width: none;
  }
}

/*# sourceMappingURL=campaign.css.map */
